.userMsg {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  align-self: flex-end;
  max-width: 80%;
}

.responseMsg {
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  align-self: flex-start;
  max-width: 80%;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}


input {
  background-color: #212121;
  color: white;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}

h-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

input {
  position: relative;
}

#sendBtn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.messages {
  overflow-y: auto;
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  flex-grow: 1;
}

.messages::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}

